<div class="sms-info">
    <h2>SMS information</h2>
    <p class="subtitle">Specify details of the text (SMS) to link your QR code to</p>

    <label for="phone-number">Phone number</label>
    <input type="text" id="phone-number" placeholder="Enter phone number" [(ngModel)]="urlObj.campaign.phone_sms.phone">

    <label for="message">Message</label>
    <textarea id="message" placeholder="Enter Message" [(ngModel)]="urlObj.campaign.phone_sms.body"></textarea>
</div>
<div class="footer-card">
    <button class="btn back-btn" (click)="goBack()">Back</button>
    <button class="btn next-btn">Next</button>
</div>
