<div class="email-information">
    <h2>Email Information</h2>
    <p class="subtitle">Specify details of the email message to link your QR code to</p>

    <label for="to">To</label>
    <input type="text" id="to" placeholder="Enter emails separated by ','" [(ngModel)]="email.to">

    <label for="subject">Subject</label>
    <input type="text" id="subject" placeholder="Subject" [(ngModel)]="email.subject">

    <label for="body">Body</label>
    <textarea id="body" placeholder="Body" [(ngModel)]="email.body"></textarea>
</div>

<div class="footer-card">
    <button class="btn back-btn" (click)="goBack()">Back</button>
    <button class="btn next-btn" [disabled]="!isFormValid()">Next</button>
</div>
