<app-button-toggle></app-button-toggle>
<app-qr-option-card 
    title="URL/Link" 
    description="Paste link to a website, video, form, or any URL you have"
    iconClass="fa fa-link"
    routerLink="/url-link">
</app-qr-option-card>
<app-qr-option-card 
    title="Mobile App" 
    description="Redirect to app download or in-app pages for Android and iOS users"
    iconClass="fa fa-link"
    routerLink="/mobile-app">
</app-qr-option-card>
<app-qr-option-card 
    title="Image" 
    description="Show a photo"
    iconClass="fa fa-link"
    routerLink="/image">
</app-qr-option-card>
<app-qr-option-card 
    title="Email" 
    description="Link to receive email messages"
    iconClass="fa fa-link"
    routerLink="/email">
</app-qr-option-card>
<app-qr-option-card 
    title="Call" 
    description="Link to your phone number for quick calls"
    iconClass="fa fa-link"
    routerLink="/call">
</app-qr-option-card>
<app-qr-option-card 
    title="SMS" 
    description="Redirect to your mobile number to receive SMS"
    iconClass="fa fa-link"
    routerLink="/sms">
</app-qr-option-card>